* {
    margin: 0;
    padding: 0;
}

.column-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.welcome-container {
    border: 1px solid red;
    padding: 30px;
}

.modal {
    width: 40%;
    padding: 20px;
    background-color: #eee;
    border-radius: 3px;
    margin-top: 50px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    background-color: rgba(30, 30, 30, 0.3);
}

.column {
    margin-top: 10px;
    border: 1px solid green;
    padding: 20px;
    width: 200px;
}

.card-header {
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px #ccc solid;
    border-radius: 3px;
    word-wrap: break-word;
}

.change-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.column-title {
    margin-bottom: 15px;
}

.card-title {
    display:flex;
    justify-content: center
}