* {
    margin: 0;
    padding: 0;
}

.column-container {
    align-items: flex-start;
}

.name-input {
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.welcome-container {
    text-align: center;
}

.modal-window {
    position: relative;
    width: 40%;
    padding: 20px;
    background-color: #eee;
    border-radius: 3px;
    margin-top: 50px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vmax;
    align-items: flex-start;
    background-color: rgba(30, 30, 30, 0.3);
}

.column {
    margin-top: 10px;
    background-color: #c0c0c0;
    border-radius: 4px;
    padding: 20px;
    width: 80%;
}

.card-header {
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 3px;
    word-wrap: break-word;
}

.card-header:hover {
    background-color: #eee;
}

.editable-content {
    word-wrap: break-word;
}

.editable-content:hover {
    color: #555555;
}

.change-button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.column-title {
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 15px;
}

.card-info {
    font-weight:600;
}

.card-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
}

.add-card-button {
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

.card-description {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
}

.add-card-button:hover {
    background-color: rgb(111, 59, 255);
    color: #fff;
}

textarea {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
}

.comments-count {
    color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-img {
    width: 15px;
    margin-right: 5px;
}

.comment-list {
    margin-top: 10px;
    padding: 10px;
}

.comment {
    padding: 3px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    white-space: pre-wrap;
}

.remove{
    font-size: 0.8rem;
    margin-top: 5px;
    color: grey;
}

.remove:hover {
    color: #000;
}

.add-comment {
    margin-top: 20px;
}

.comment-block {
    margin-top: 10px;
}

.cross-close {
    width:32px;
    position: absolute;
    right:10px;
    top:10px;
}
.cross-close:hover {
    opacity: 0.5;
}

.kanban-card {
    position: relative;
}